<!DOCTYPE html>
<html>
<head>
    <title>Add Data</title>
</head>
<center>
    <font color="black" size="4" style="font-family: avenir">

        <h1 style="color: Black">Add certification information</h1>

        <body bgcolor="Skyblue">

<!--        <form action="/addemp" autocomplete="on" method="POST" enctype="multipart/form-data">-->

              <form autocomplete="on" method="POST" enctype="multipart/form-data">

            FMNO<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="fmno" autofocus
                            size="40"><br><br>

            First Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name"><br><br>

            Last Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name"><br><br>


            <label for="teams">Team:</label><br>

            <select style="height:25px;font-size:14pt;color:grey;" name="team" id="teams">
                <option value="">--Select--</option>
                <option value="apm">MIS APM</option>
                <option value="ipt">MIS IPT</option>
                <option value="messaging">MIS Messaging</option>
                <option value="unix">MIS UNIX</option>
                <option value="wintel">MIS Wintel</option>
                <option value="som">IT SOM</option>
                <option value="network">MIS Network</option>
                <option value="voip">VOIP</option>
            </select><br><br>


            <label for="locations">Location:</label><br>

            <select style="height:25px;font-size:14pt;color:grey;" name="location" id="locations">
                <option value="">--Select--</option>
                <option value="ggn">GGN</option>
                <option value="sjo">SJO</option>
            </select><br><br>


            <label for="certifications">Certification (Choose one):</label><br>

            <select style="height:25px;font-size:14pt;color:grey;" name="certification" id="certifications">
                <option value="">--Select--</option>
                <option value="aws1">AWS Cloud practitioner</option>
                <option value="aws2">AWS Solutions Architect-Associate</option>
                <option value="aws3">AWS Solutions Architect-Professional</option>
                <option value="azure1">Azure Fundamentals-AZ-900</option>
            </select><br><br>


            <button type="submit" onclick="Added();"
                    style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Submit
            </button>

        </form>

        <br>

        <form action="/showsummary" >
            <button type="submit"
                     style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">View Summary
            </button>
        </form>

        </body>

    </font>
</center>

<script>
function Added() {
  alert("Hello! your certificate has been added successfully");
}
</script>
</html>
