<!DOCTYPE html>
<html>
<head>
    <title>Add Data</title>
</head>
<center>
    <font color="black" size="4" style="font-family: avenir">

        <h1 style="color: Black">Add certification information</h1>

        <body style="background-image: url('/static/bg4.jpg');background-size: 100%;" >

        <form action="/addemp" autocomplete="on" method="POST" enctype="multipart/form-data">

<!--              <form autocomplete="on" method="POST" enctype="multipart/form-data">-->

            FMNO<br> <input style="height:25px;font-size:14pt;" type="number" name="fmno" autofocus
                            size="40"><br><br>

            Name:<br> <input style="height:25px;font-size:14pt;" type="text" name="name"><br><br>

            <label for="teams">Team:</label><br>

            <select style="height:25px;font-size:14pt;" name="team" id="teams">
                <option value="">--Select--</option>
                <option value="MIS APM">MIS APM</option>
                <option value="MIS IPT">MIS IPT</option>
                <option value="MIS Messaging">MIS Messaging</option>
                <option value="MIS UNIX">MIS UNIX</option>
                <option value="MIS Wintel">MIS Wintel</option>
                <option value="IT SOM">IT SOM</option>
                <option value="MIS Network">MIS Network</option>
                <option value="VOIP">VOIP</option>
            </select><br><br>


            <label for="locations">Location:</label><br>

            <select style="height:25px;font-size:14pt;" name="location" id="locations">
                <option value="">--Select--</option>
                <option value="GGN">GGN</option>
                <option value="SJO">SJO</option>
            </select><br><br>


            <label for="certifications">Certification (Choose one):</label><br>

            <select style="height:25px;font-size:14pt;" name="certification" id="certifications">
                <option value="">--Select--</option>
                <option value="AWS Cloud practitioner">AWS Cloud practitioner</option>
                <option value="AWS Solutions Architect-Associate">AWS Solutions Architect-Associate</option>
                <option value="AWS Solutions Architect-Professional">AWS Solutions Architect-Professional</option>
                <option value="Azure Fundamentals-AZ-900">Azure Fundamentals-AZ-900</option>
            </select><br><br>


            <button type="submit" onclick="Added();"
                    style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Submit
            </button>

        </form>

        <br>

        <form action="/showsummary" >
            <button type="submit"
                     style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">View Summary
            </button>
        </form>

        </body>

    </font>
</center>

<script>
function Added() {
  alert("Hello! your certificate has been added successfully");
}
</script>
</html>
