<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Summary</title>
    <center>
    <font color="black" size="4" style="font-family: avenir">

        <h1 style="color: Black">Certification Summary for MIS</h1>

        <body bgcolor="Red">

        <form action="/viewSummary" autocomplete="on" method="POST" enctype="multipart/form-data">


  </form>


<form action ="/showaddemp" >
            <button type="submit"
                    style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Add Certification
            </button>
</form>



        </body>

    </font>
</center>
</head>
<body>

</body>
</html>